* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 62.5%;
}
body{
    background: radial-gradient(circle at bottom, #ff2000 , #000);
    color: #fff;
}
.main-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
}

.banca-cont {
width: 100%;
height: 10rem;
display: flex;
padding: 2rem;
justify-content: center;
}

.mensaje{
    color: black;
    margin: 5rem;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.mensaje span {
    text-shadow: 2px 3px 10px rgba(0,0,0,0.35);
    height: auto;
    font-size: 4rem;
    margin: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 23px 5px rgba(0,0,0,0.42); 
    box-shadow: 0px 0px 23px 5px rgba(0,0,0,0.42);
}
.nueva-mano {
    display: none;
    margin: 1rem;
}

.jugador-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mano-jugador{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.carta{
    width: 60px;
    border-radius: 5px;
    border: black 2px solid;
    margin: 0.7rem;
    height: 90px;
    display: none;
    -webkit-box-shadow: 7px 9px 18px 4px rgba(0,0,0,0.58); 
    box-shadow: 7px 9px 18px 4px rgba(0,0,0,0.58);
}
.dinero{
    margin: 1rem;
    border-radius: 0.3rem;
    font-size: 1.7rem;
    padding: 1rem;
    background-color: #fff;
    color: #000;
    -webkit-box-shadow: 0px 0px 23px 5px rgba(0,0,0,0.42); 
    box-shadow: 0px 0px 23px 5px rgba(0,0,0,0.42);
}
.dinero-apostado{
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
}
.apuesta-form {
    display: none;
    margin: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.apuesta-form span{
    margin: 1rem;
    font-size: 2rem;
}
.apuesta-input{
    height: 3rem;
    margin: 1re;
    text-align: center;
}

.elecciones {
 display: none;
}
#error {
    display: none;
    color: red;
    background-color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.4rem;
}

span {
    text-align: center;
}
button{
    font-size: 1.5rem;
    background-color: rgb(54, 54, 54);
    border-radius: 3px;
    border: 1px solid white;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    padding: 0.5rem;
    width: 10rem;
    margin: 1rem;
    transition: .5s all;
}
button:hover {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    color: #000;
    transform: scale(1.1);
}  
button:active{
    transform: scale(0.95);
}